body {
	background-color: #b3e0f2;
	color: ghostwhite;
}
img {
	width: 100px; 
	margin-right: 15px;
}
button 
}
.container {
	color: black;
}
.p-4 { 
	width: 500px; 
	text-align: center;
}
a {
	color: darkslategray;
}
footer {
	text-align: center;
}